<header>
    <div class="logo">
      <%= image_tag("WIKI-LABORATE.png", :alt => "light bulb logo") %>
    </div>
    <ul class="header-button">
      <li class="header-button"><%= link_to "Sign Up", new_user_registration_path, :class => 'button' %></li>
      <li class="header-button"><%= link_to "Sign In", new_user_session_path, :class => 'button' %></li>
    </ul>
</header>

<h2 style="text-align:center">Let's Get Started</h2>
<p style="text-align:center">Choose the plan that best suits your needs.</p>

<div class="pricing-options">
  <div class="columns">
    <ul class="price">
      <li class="header">Guest</li>
      <li class="grey"> FREE </li>
      <li>View Public Wikis</li>
      <li>See Who Is Collaborating</li>
      <li>Feel Sad Because You Can't Contribute</li>
      <li class="grey"><a href="#" class="button">Get Started</a></li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header" style="background-color:#001C47">Standard</li>
      <li class="grey"> FREE </li>
      <li>Unlimited Wikis</li>
      <li>Create Public Wikis</li>
      <li>Collaborate on Public Wikis</li>
      <li class="grey"><a href="#" class="button">Go Standard</a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header">Premium</li>
      <li class="grey">$ 15.00 / month</li>
      <li>All Standard Features</li>
      <li>Create Private Wikis</li>
      <li>Add & Remove Collaborators</li>
      <li class="grey"><%= link_to "Go Premium", new_charge_path, class: 'button' %></li>
    </ul>
  </div>
</div>
