<h1>Welcome, friend!</h1>
  <h2 style="text-align:center">Let's Get Started</h2>
  <p style="text-align:center">Choose the plan that best suits your needs.</p>

  <div class="columns">
    <ul class="price">
      <li class="header">Basic</li>
      <li class="grey"> FREE </li>
      <li>View Public Wikis</li>
      <li>See Who Is Collaborating</li>
      <li>Feel Sad Because You Can't Contribute</li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header" style="background-color:#A4BC6B">Standard</li>
      <li class="grey"> FREE </li>
      <li>Unlimited Wikis</li>
      <li>Create Public Wikis</li>
      <li>Collaborate on Public Wikis</li>
      <li class="grey"><a href="#" class="button">Go Standard</a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header">Premium</li>
      <li class="grey">$ 15.00 / month</li>
      <li>All Standard Features</li>
      <li>Create Private Wikis</li>
      <li>Add & Remove Collaborators</li>
      <li class="grey"><%= link_to "Go Premium", new_charge_path, class: 'button' %></li>
    </ul>
  </div>
