<h1>Wikis</h1>
<%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success' %>

<div class="row">
   <div class="col-md-8">
     <% @wikis.each do |wiki| %>
      <%= render partial: "wiki", locals: {wiki: wiki} %>
     <% end %>
   </div>
 </div>
